<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BlogApp.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
		<netTcpBinding>
			<binding  name="NetTcpBinding_IBlogService" sendTimeout="10:00:00" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00"
					  transferMode="Streamed"
					   maxReceivedMessageSize="20000000"
						 maxBufferSize="20000000"
						 maxBufferPoolSize="20000000">
				<security mode="None">
					<transport sslProtocols="None" />
				</security>
				<readerQuotas   maxDepth="32" maxBytesPerRead="200000000"
			maxArrayLength="200000000" maxStringContentLength="200000000" maxNameTableCharCount="79623599"/>
			</binding>
		</netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8734/" binding="netTcpBinding" 
        bindingConfiguration="NetTcpBinding_IBlogService" contract="BlogServiceReference.IBlogService"
        name="NetTcpBinding_IBlogService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <BlogApp.UI.Properties.Settings>
      <setting name="UserLogin" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value>null</value>
      </setting>
    </BlogApp.UI.Properties.Settings>
  </applicationSettings>
</configuration>